<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.norinori777.infrastructure.datasource.OutputPdfPathsMapper">
    <!-- M_SETTINGSテーブルを検索するクエリ -->
    <select id="selectOutputPdfPaths" resultType="jp.norinori777.domains.Settings.OutputPdfPath">
        SELECT initial, path FROM M_OUTPUT_PDF_PATHS
    </select>
</mapper>
