<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.norinori777.infrastructure.datasource.SettingsMapper">  
    <!-- M_SETTINGSテーブルを検索するクエリ -->
    <select id="selectSettings" resultType="jp.norinori777.domains.Settings.Setting">
        SELECT name, value FROM M_SETTINGS
    </select>
</mapper>
